*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

bintray.properties

#Project
workspace.xml
tasks.xml
target/
pom_tmp.xml
logs/

#OSX
.DS_Store

#intellij
.idea/
*.iml
*.iws

#Eclipse
.classpath
.project
.settings/
